TestingServer/
TestingServer/src/testingserver/TestingServer.java
JavaXOServer/build/classes/.netbeans_automatic_build
JavaXOServer/build/classes/.netbeans_update_resources
JavaXOServer/build/classes/javaxoserver/JavaXOServer.class
JavaXOServer/build/classes/javaxoserver/RequestHandler.class
*.class
/JavaXOServer/dist/
/JavaXOGame/build/
/JavaXOServer/nbproject/private/
JavaXOGame/nbproject/private/private.properties
JavaXOServer/nbproject/private/private.properties
